body {
    background-color: rgb(34,34,34);
    color: white;
    font-family: sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
  
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}
  
li {
    display: inline-block;
    margin: 20px;
}
  
a{
    color: white;
}
  
a:hover {
    color: rgb(72,209,204);
    transition: 0.3s all;
}

#Sobre {
    border: 2px solid rgb(72,209,204);
    padding: 10px;
    border-radius: 20px;
}
  
#Sobre:hover {
    background-color: rgb(72,209,204);
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
  
h4 {
    font-size: 25px;
    line-height: 10px;
    font-family: serif;
}
  
span {
    font-size: 50px;
    line-height: 30px;
    font-family: serif;
    color: rgb(72,209,204);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: serif;
}

.serviços {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

img {
    border-radius: 10px;
    width: 620px;
    height: 400px;
}

#my_photo {margin-left: 70px;
    border-radius: 10px;
    width: 620px;
    height: 600px;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(72,209,204);
    color: white;
    font-weight: bold;
}
  
form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.rodape {     
    clear: both;
    padding: 28px;         
    color: rgb(250,255,250);
    font-size: 15px;
    font-family: "arial", sans-serif;
}

.icones-sociais li {
    flex-direction: column;
    width: 40px;
    height: 40px;
}

.icones-sociais img {
    height: 25px;
    width: 25px;
}

@media screen and (max-width: 760px) {

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    span {
        font-size: 38px;
    }

    h4 {
        font-size: 15px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    #my_photo {
        display: none;
    }
}